.footer{
    background:black;
    padding: 1%;
    width: 100%;
    float: right;
    background-color: black;
}
.escritorio{
    color: white;
    font: bold 90%;
    font-weight: bolder;
    font-size:large;
}
.boton{
    
}