.footer{
	padding: 5px;
	width: 100%;
	height: 68px;
	background-color: #0378A6;
	display: flex;
	justify-content: center;
	gap: 25px;
	flex-direction: row;
}

.optionsStyles {
	cursor: pointer;
	display: block;
	border: none;
	border-radius: 20px;
  margin: 10px;
  padding: 10px 30px;
	background-color: #049DD9;
  color: #FFF;
	outline: 2px solid #3B7FD9;
	outline-offset: 2px;
	font-weight: bold;
	min-width: 200px;
}